# -*- Mode: jinja2; -*-
# {{ ansible_managed }}

{% for user in users %}
{% if user.env_keep is defined -%}
{%   for env in user.env_keep  -%}
Defaults:{{ user.name }} env_keep += {{ env }}
{%   endfor                    -%}
{% endif                       -%}
{% endfor %}
